<a href="https://colab.research.google.com/github/Raisaraheem/Makkan.com-webscraping/blob/main/Makkan_webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import all the packages

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city'
req = requests.get(url)
print(req)
soup = BeautifulSoup(req.text,'html')
#print(soup.prettify())

<Response [200]>

In [ ]:
#find and findall
soup.find('span')   # find will give us the first span tag

In [ ]:
soup.find('span',attrs={'class' : 'seller-type'}).text  #find owner info

'BUILDER'

In [ ]:
soup.findAll('span',attrs={'class' : 'val'})

In [ ]:
soup.find('div',attrs={'class': 'title-line '}).strong.span.text   #find bhk

'4 '

In [ ]:
soup.find('div',attrs={'data-type':'price-link'}).text   # find price

' 4.68 Cr'

In [ ]:
soup.find('span',attrs={'itemprop':'addressLocality'}).text   # locality

'Narsingi'

In [ ]:
soup.find('td',attrs={'class' : 'size'}).text   # area of aprt

'2929 '

In [ ]:
soup.find('td',attrs={'class' : 'val'}).text   # construction status

'Under Construction'

In [ ]:
soup.find('td',attrs={'class':'lbl rate'}).text  # price per sqft

'16,000 / sq ft'

In [ ]:
own_info = soup.findAll('span',attrs={'class' : 'seller-type'}) 
owner = [i.text for i in own_info] 
owner                      
len(own_info)

20

In [ ]:
bhk_info = soup.findAll('div',attrs={'class': 'title-line '})  #all bhk info in a page
bhk = [i.strong.span.text.strip() for i in b_info]  
bhk

['4',
 '3',
 '2',
 '2',
 '2',
 '3',
 '3',
 '3',
 'Residential Plot',
 '3',
 '4',
 '2',
 '2',
 '2',
 '3',
 '4',
 '3',
 '3',
 '5',
 '3']

In [ ]:
pr_info = soup.findAll('div',attrs={'data-type':'price-link'})  #all price of aprt in a page0
price = [i.text.strip() for i in pr_info]
price

['4.68 Cr',
 '1.6 Cr',
 '1.43 Cr',
 '56.98 L',
 '43.6 L',
 '65.82 L',
 '1.65 Cr',
 '1.41 Cr',
 '1.11 Cr',
 '95.35 L',
 '1.45 Cr',
 '56.02 L',
 '72.05 L',
 '61.57 L',
 '1.46 Cr',
 '2.9 Cr',
 '63.11 L',
 '96.22 L',
 '13.14 Cr',
 '97.11 L']

In [ ]:
loc_info = soup.findAll('span',attrs={'itemprop':'addressLocality'})   # all locality in a page
locality = [i.text for i in loc_info]
locality

['Narsingi',
 'Manikonda',
 'Shaikpet',
 'Bachupally',
 'Shamshabad',
 'Tellapur',
 'Attapur',
 'Yapral',
 'Sheriguda',
 'Manikonda',
 'Bachupally',
 'Ghatkesar',
 'Attapur',
 'Kompally',
 'Shankarpalli',
 'Hitech City',
 'Mallampet',
 'Nanakramguda',
 'Narsingi',
 'Manikonda']

In [ ]:
ar_info = soup.findAll('td',attrs={'class' : 'size'})   #all area of aprt in a page
area = [i.text.strip() for i in ar_info]
area

['2929',
 '2810',
 '1495',
 '1295',
 '890',
 '1431',
 '2540',
 '2615',
 '3150',
 '1538',
 '2300',
 '1245',
 '1310',
 '1310',
 '3120',
 '3498',
 '1503',
 '1415',
 '8214',
 '1704']

In [ ]:
con_st = soup.findAll('td',attrs={'class' : 'val'})   #all construction status
con_status = [i.text for i in con_st]
con_status

['Under Construction',
 'Under Construction',
 'Ready to move',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'New',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Ready to move',
 'Under Construction',
 'Ready to move',
 'Under Construction',
 'Under Construction']

In [ ]:
pr_sqft = soup.findAll('td',attrs={'class':'lbl rate'})  # price per sqft
price_sft = [i.text for i in pr_sqft]
print(price_sft)
print(len(price_sft))

['16,000 / sq ft', '5,699 / sq ft', '9,565 / sq ft', '4,400 / sq ft', '4,899 / sq ft', '4,600 / sq ft', '6,501 / sq ft', '5,400 / sq ft', '3,555 / sq ft', '6,200 / sq ft', '6,304 / sq ft', '4,500 / sq ft', '5,500 / sq ft', '4,700 / sq ft', '4,700 / sq ft', '8,290 / sq ft', '4,199 / sq ft', '6,800 / sq ft', '16,000 / sq ft', '5,699 / sq ft']
20

In [ ]:
data = pd.DataFrame({'Owner_inf' : owner,
              'Bhk_info' : bhk,
              'Price' : price,
              'Locality' : locality,
              'Area_sqft' : area,
              'Status' : con_status,
              'Price_Per_sqft' : price_sft})
data

   Owner_inf          Bhk_info  ...              Status  Price_Per_sqft
0    BUILDER                 4  ...  Under Construction  16,000 / sq ft
1    BUILDER                 3  ...  Under Construction   5,699 / sq ft
2    BUILDER                 2  ...       Ready to move   9,565 / sq ft
3    BUILDER                 2  ...  Under Construction   4,400 / sq ft
4    BUILDER                 2  ...  Under Construction   4,899 / sq ft
5    BUILDER                 3  ...  Under Construction   4,600 / sq ft
6    BUILDER                 3  ...  Under Construction   6,501 / sq ft
7    BUILDER                 3  ...  Under Construction   5,400 / sq ft
8    BUILDER  Residential Plot  ...                 New   3,555 / sq ft
9    BUILDER                 3  ...  Under Construction   6,200 / sq ft
10   BUILDER                 4  ...  Under Construction   6,304 / sq ft
11   BUILDER                 2  ...  Under Construction   4,500 / sq ft
12   BUILDER                 2  ...  Under Construction   5,500 / sq ft
13   BUILDER                 2  ...  Under Construction   4,700 / sq ft
14   BUILDER                 3  ...  Under Construction   4,700 / sq ft
15   BUILDER                 4  ...       Ready to move   8,290 / sq ft
16   BUILDER                 3  ...  Under Construction   4,199 / sq ft
17   BUILDER                 3  ...       Ready to move   6,800 / sq ft
18   BUILDER                 5  ...  Under Construction  16,000 / sq ft
19   BUILDER                 3  ...  Under Construction   5,699 / sq ft

[20 rows x 7 columns]

In [ ]:
data.to_csv('aprtment_data.csv',index=False) #data will be saved to csv file

In [ ]:
import time
import requests
from IPython.display import clear_output

base_url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page='

ow = []   
bhk = []
p = []
s = []
loc = []
st = []
pps = []

for i in range(1,11):
  time.sleep(3)

  print(f'Going to scrape data from {i} page')
  clear_output(wait=True)
  url = base_url+str(i)
  req = requests.get(url)
  soup = BeautifulSoup(req.text,'html')
  #owner info
  ow_info = soup.findAll('span',attrs={'class':'seller-type'})
  for j in ow_info:
    ow.append(j.text)
  
  #bhk info
  bhk_info = soup.findAll('div',attrs={'class':'title-line'})
  for j in bhk_info:
    bhk.append(j.strong.span.text)

  #price info
  p_info = soup.findAll('div',attrs={'data-type':'price-link'})
  for  j in p_info:
    p.append(j.text)
  
  #size info
  s_info = soup.findAll("td",attrs={'class':'size'})
  for j in s_info:
    s.append(j.text)
  
  #location info
  loc_info = soup.findAll('span',attrs={'itemprop':'addressLocality'})
  for j in loc_info:
    loc.append(j.text)
  
  #status info
  st_info = soup.findAll('tr',attrs={'class':'hcol w44'})
  for j in st_info:
    st.append(j.text)

  #price per sqft info
  pps_info = soup.findAll('td',attrs={'class':'lbl rate'})
  for j in pps_info:
    pps.append(j.text)

Going to scrape data from 10 page

In [ ]:
data = pd.DataFrame({'Owner_inf' :ow ,
              'Bhk_info' : bhk,
              'Price' : p,
              'Locality' : loc,
              'Area_sqft' : s,
              'Status' :st ,
              'Price_Per_sqft' : pps})
data

    Owner_inf Bhk_info  ...                                 Status  Price_Per_sqft
0     BUILDER       4   ...  Under ConstructionConstruction Status  16,000 / sq ft
1     BUILDER       3   ...  Under ConstructionConstruction Status   5,699 / sq ft
2     BUILDER       2   ...       Ready to moveConstruction Status   9,565 / sq ft
3     BUILDER       2   ...  Under ConstructionConstruction Status   4,400 / sq ft
4     BUILDER       2   ...  Under ConstructionConstruction Status   4,899 / sq ft
..        ...      ...  ...                                    ...             ...
195     OWNER       2   ...  Under ConstructionConstruction Status   3,653 / sq ft
196     OWNER       2   ...  Under ConstructionConstruction Status   3,653 / sq ft
197     OWNER       2   ...  Under ConstructionConstruction Status   3,653 / sq ft
198     OWNER       2   ...  Under ConstructionConstruction Status   3,653 / sq ft
199     OWNER       2   ...  Under ConstructionConstruction Status   3,653 / sq ft

[200 rows x 7 columns]

In [ ]:
data.to_csv('webscraped_data.csv',index=False)  # #data will be saved to csv file